/*--------------- FONTS */

/* récupérer les fonts dans font squirel les formats woff c'est mieux ! 
https://www.fontsquirrel.com/tools/webfont-generator */
@font-face{
  font-family: "barlow-regular";
  src: url("../fonts/Barlow/BarlowSemiCondensed-Regular.ttf");
}

@font-face{
  font-family: "barlow-medium";
  src: url("../fonts/Barlow/BarlowSemiCondensed-Medium.ttf");
}

@font-face{
  font-family: "quicksand";
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

/*--------------- GENERAL */
*{
  box-sizing: content-box;
}

body{
  --pink : #f08077;
  --light-grey: #f2f2f2;
  --dark-blue: #223440;
  padding: 0;
  margin: 0;
  font-family: "quicksand";
  font-size: 15px;
  color: var(--dark-blue);
}

.flex{
  display: flex;
}

.flex-column{
  flex-direction: column;
}

.full-hero-content{
  height: 100%;
}

.main-button{
  background-color: #f08077;
  color: white;
  font-family: "barlow-regular";
  width: 200px;
  font-size: 16px;
  padding: 17px;
}

a{
  color: inherit;
}

.icones-defined{
  display: none;
}

/*--------------- HEADER */

header{
  padding: 10px 20px;
  flex-wrap: wrap;
  z-index: 4;
  min-height: 50px;
  background-color: white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, .3);
  align-items: center;
}

.search-bar{
  width: 100%;
  order: 3;
  margin: 10px 0 0;
}

.search-bar label{
  position: absolute;
}

.search-bar input{
  width: 90%;
  height: 32px;
}

.search-bar button{
  width: 10%;
  height: 32px;
}

.header-icones{
  width: 50%;
  order: 2;
}

.pin-icone{
  width: 50%;
  justify-content: center;
}

.main-icones{
  min-width: 100px;
  width: 50%;
  justify-content: space-between;
}

.logo{
  margin: 0;
  font-family: "barlow-regular";
  margin-left: 10px;
}

.burger-logo{
  width: 50%;
}

.slogan{
  font-size: 12px;
  display: none;
  margin: 0;
  margin-left: 10px;
}

input[type="search"]{
  border: 1px solid var(--dark-blue);
}

.search-submit{
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

/*---------------- Burger Menu */

.main-menu{
  position: fixed;
  left: -100vw;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.main-menu > li {
  margin-top: 20px;
}

.burger-icone{
  position: relative;
  z-index: 2;
}

.close-burger-icone{
  position: fixed;
}

.close-burger-icone rect:nth-child(1){
  transform: rotate(-45deg);
  fill: white;
}

.close-burger-icone rect:nth-child(2){
  display: none;
}

.close-burger-icone rect:nth-child(3){
  transform: rotate(45deg);
  fill: white;
}

.arrow-burger-icone rect:nth-child(3){
  transform: rotate(45deg);
  fill: white;
}

.arrow-burger-icone rect:nth-child(2){
  fill: white;
}

.arrow-burger-icone rect:nth-child(1){
  transform: rotate(-45deg);
  fill: white;
}

.second-menu{
  position: fixed;
  left: -100vw;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: var(--dark-blue);
  color: white;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.open-second-menu ~ ul{
  animation: menuappearance 1s;
  animation-fill-mode: forwards;
}

.close-second-menu ~ ul{
  animation: menudisappearance 1s;
  animation-fill-mode: forwards;
}

.open-menu{
  animation: menuappearance 1s;
  animation-fill-mode: forwards;
}

.close-menu{
  animation: menudisappearance 1s;
  animation-fill-mode: forwards;
}

/*---------------- 1st section - full-hero */

.full-hero{
  background-image: linear-gradient(rgba(0, 0, 0, .5), transparent 70%, rgba(0, 0, 0, .5)), url("../images/keeping-your-teeth-good-condition.jpg");
  background-size: cover;
  background-position-x: 70%;
  height: 60vh;
  text-align: center;
  color: white;
  padding: 20px;
  justify-content: space-between;
}

.full-hero .main-button{
  margin: auto auto 0;
}

h1, h4{
  margin: 0;
  font-family: "barlow-medium";
  font-size: 20px;
}

h1{
  text-align: center;
}

/*---------------- 2nd section - Baniera intro */

section:nth-child(3){
  text-align: center;
  padding: 20px;
}

section:nth-child(3) p{
  line-height: 20px;
  max-width: 700px;
  max-height: 100px;
  overflow: hidden;
  margin: 20px auto;
}

span{
  color: var(--pink);
}

/*---------------- 3rd section - Nav with icones */

section:nth-child(4){
  display: none;
}

.second-nav-icone{
  width: fit-content;
  height: fit-content;
  max-width: 6vw;
  max-height: 8vw;
}

.second-nav div{
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 10%;
}

.second-nav{
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}

figure{
  margin: 0;
}

figcaption{
  font-size: 14px;
  text-align: center;
}

/*---------------- 4th section - Your selection */

section:nth-child(5){
  padding: 20px;
}

.slider{
  width: 100%;
  overflow: hidden;
}

.slides{
  width: fit-content;
}

.slides img{
  height: 200px;
  width: 40vw;
  object-fit: cover;
}

.slides article{
  width: 40vw;
}

/*---------------- 5th section - Sur-mesure */

.sur-mesure{
  background-size: cover;
  height: 130px;
}

.sur-mesure-first{
  background-image: url("../images/sanibell-bv-8c5NfqhcdSw-unsplash.jpg");
}

.sur-mesure-second{
  background-image: url("../images/sanibell-bv-77ye1hKRpO0-unsplash.jpg");
}

.sur-mesure-third{
  background-image: url("../images/sanibell-bv-lED9KZIpm_w-unsplash.jpg");
  align-items: center;
  justify-content: center;
}

/*---------------- Votre projet Button */

.votre-projet-btn{
  position: fixed;
  padding: 0;
  bottom: 0;
  width: 100%;
  border: 0;
  background-color: var(--dark-blue);
  color: white;
  font-family: "barlow-regular";
  font-size: 16px;
  height: 65px;
}

/*---------------- Footer */

footer{
  background-color: var(--dark-blue);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-main-content, .social-medias, .logo-footer{
  margin-bottom: 30px;
}

.newsletter-form{
  width: 100%;
  position: relative;
  height: 55px;
  margin-bottom: 50px;
}

.newsletter-form label{
  position: absolute;
  color: var(--light-grey);
  left: 10px;
  top: 20px
}

.newsletter-form input, .newsletter-form button{
  height: 55px;
  background-color: var(--dark-blue);
  outline: none;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.newsletter-form input{
  width: 90%;
  border-left: 1px solid var(--light-grey);
  border-right: 0;
}

.newsletter-form button{
  width: 10%;
  border-right: 1px solid var(--light-grey);
  border-left: 0;
  color: white;
}

.accordion{
  border: 1px solid var(--light-grey);
  min-height: 65px;
  margin: 10px 0;
}

.accordion ul{
  display: none;
}

.accordion div{
  position: relative;
  height: 65px;
  align-items: center;
  justify-content: center;
}

.accordion > div > svg{
  position: absolute;
  right: 10px;
  top: 12px;
}

ul{
  list-style: none;
  padding: 0;
}

@media screen and (min-width:500px){

  /* Header */

  .search-bar{
    width: 50%;
    order: 2;
    margin: 0;
  }

  .burger-logo{
    width: 20%;
  }

  .header-icones{
    width: 30%;
  }

  .main-icones{
    max-width: 100px;
  }

  .pin-icone{
    width: 50%;
  }
  
  .header-icones{
    order: 3;
  }

  /* Burger Menu */

  .main-menu{
    width: 50%;
  }

  .second-menu{
    width: 50%;
  }

  /* Votre projet button */

  .votre-projet-btn{
    bottom: 20px;
    right: 20px;
    width: 200px;
    font-size: 16px;
  }

  /* 2nd section - 4th */

  section:nth-child(3), section:nth-child(5){
    padding: 50px 20px;
  }

}

@media screen and (min-width: 768px){

  body{
    font-size: 16px;
  }

  .main-button{
    font-size: 20px;
  }

  h1{
    font-size: 30px;
  }

  /* Header */

  header{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
  }

  .search-bar{
    width: 30%;
    order: 2;
  }

  .burger-logo{
    width: 50%;
  }

  .slogan{
    display: block;
  }

  .header-icones{
    width: 20%;
  }
  
  .header-icones{
    order: 3;
  }

  .burger-icone{
    vertical-align: -webkit-baseline-middle;
  }

  /* Full hero */

  .full-hero{
    --full-hero-height: 70vh;
    background-image: url("../images/keeping-your-teeth-good-condition.jpg");
    height: var(--full-hero-height);
  }

  .full-hero-content{
    height: calc(var(--full-hero-height)/2);
    min-height: fit-content;
    min-width: 30%;
    max-width: 400px;
    padding: 20px;
    margin: calc(var(--full-hero-height)/4) 10%;
    background-color: var(--light-grey);
    color: var(--dark-blue);
    justify-content: space-evenly;
  }

  .full-hero .main-button{
    margin: 0 auto;
  }

  .chapo{
    font-size: 18px;
  }

  /* 1st section - Baniera description */

  section:nth-child(3) a{
    display: none;
  }

  section:nth-child(3) p{
    max-width: 800px;
  }

  section:nth-child(3) p{
    max-height: fit-content;
  }

  /*---------------- 3rd section  */

  section:nth-child(4){
    display: flex;
  }

}

@media screen and (min-width: 900px){

  /* Burger Menu */

  .main-menu{
    width: 30%;
    max-width: 400px;
  }

  .second-menu{
    max-width: 400px;
    width: 30%;
  }

  .chapo{
    padding: 0 40px;
  }

  .second-nav{
    padding: 0 50px;
  }
  
  figcaption{
    font-size: 16px;
  }
}

@media screen and (min-width:1200px){
  h1{
    font-size: 45px;
  }
}

@keyframes menuappearance{
  0%{
    left: -100vw;
  }
  100%{
    left: 0;
  }
}

@keyframes menudisappearance{
  0%{
    left: 0;
  }
  100%{
    left: -100vw;
  }
}
