/*--------------- FONTS */

/* récupérer les fonts dans font squirel les formats woff c'est mieux ! 
https://www.fontsquirrel.com/tools/webfont-generator */
@font-face{
  font-family: "barlow-regular";
  src: url("../fonts/Barlow/BarlowSemiCondensed-Regular.ttf");
}

@font-face{
  font-family: "barlow-medium";
  src: url("../fonts/Barlow/BarlowSemiCondensed-Medium.ttf");
}

@font-face{
  font-family: "quicksand";
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

/*--------------- GENERAL */
*{
  box-sizing: content-box;
}

body{
  --light-grey: #f2f2f2;
  --dark-blue: #223440;
  padding: 0;
  margin: 0;
  font-family: "quicksand";
  font-size: 15px;
  color: var(--dark-blue);
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}

.full-height{
  height: 100%;
}

.main-button{
  background-color: #f08077;
  color: white;
  font-family: "barlow-regular";
  width: 200px;
  font-size: 16px;
  padding: 17px;
}

/*--------------- HEADER */

header{
  padding: 10px 20px;
  flex-wrap: wrap;
  z-index: 4;
}

.search-bar{
  width: 100%;
  order: 3;
}

.search-bar label{
  position: absolute;
}

.search-bar input{
  width: 90%;
  height: 32px;
}

.search-bar button{
  width: 10%;
  height: 32px;
}

.header-icones{
  order: 2;
}

.logo{
  margin: 0;
  font-family: "barlow-regular";
  margin-left: 10px;
  vertical-align: center;
}

.slogan{
  display: none;
}

input[type="search"]{
  border: 1px solid var(--dark-blue);
}

.search-submit{
  background-color: var(--dark-blue);
  border: 1px solid var(--dark-blue);
}

/*---------------- Burger Menu */

.main-menu{
  position: fixed;
  left: -100vw;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--dark-blue);
  color: white;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.main-menu > li {
  margin-top: 20px;
}

.burger-icone{
  position: relative;
  z-index: 2;
}

.close-burger-icone{
  position: fixed;
}

.close-burger-icone rect:nth-child(1){
  transform: rotate(-45deg);
  fill: white;
}

.close-burger-icone rect:nth-child(2){
  display: none;
}

.close-burger-icone rect:nth-child(3){
  transform: rotate(45deg);
  fill: white;
}

.arrow-burger-icone rect:nth-child(3){
  transform: rotate(45deg);
  fill: white;
}

.arrow-burger-icone rect:nth-child(2){
  fill: white;
}

.arrow-burger-icone rect:nth-child(1){
  transform: rotate(-45deg);
  fill: white;
}

.second-menu{
  position: fixed;
  left: -100vw;
  top: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--dark-blue);
  color: white;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.open-second-menu ~ ul{
  animation: menuappearance 1s;
  animation-fill-mode: forwards;
}

.close-second-menu ~ ul{
  animation: menudisappearance 1s;
  animation-fill-mode: forwards;
}

.open-menu{
  animation: menuappearance 1s;
  animation-fill-mode: forwards;
}

.close-menu{
  animation: menudisappearance 1s;
  animation-fill-mode: forwards;
}

@keyframes menuappearance{
  0%{
    left: -100vw;
  }
  100%{
    left: 0;
  }
}

@keyframes menudisappearance{
  0%{
    left: 0;
  }
  100%{
    left: -100vw;
  }
}

/*---------------- 1st section - full-hero */

.full-hero{
  background-image: linear-gradient(rgba(0, 0, 0, .5), transparent 70%, rgba(0, 0, 0, .5)), url("../images/keeping-your-teeth-good-condition.jpg");
  background-size: cover;
  background-position-x: 70%;
  height: 60vh;
  text-align: center;
  color: white;
  padding: 20px;
}

.full-hero .main-button{
  margin: auto auto 0;
}

h1, h4{
  margin: 0;
  font-family: "barlow-medium";
  font-size: 20px;
}

h1{
  text-align: center;
}

/*---------------- 2nd section - Baniera intro */

section:nth-child(3){
  text-align: center;
  padding: 20px;
}

/*---------------- 4th section - Sur-mesure */

.sur-mesure{
  background-size: cover;
  height: 130px;
}

.sur-mesure-first{
  background-image: url("../images/sanibell-bv-8c5NfqhcdSw-unsplash.jpg");
}

.sur-mesure-second{
  background-image: url("../images/sanibell-bv-77ye1hKRpO0-unsplash.jpg");
}

.sur-mesure-third{
  background-image: url("../images/sanibell-bv-lED9KZIpm_w-unsplash.jpg");
  align-items: center;
  justify-content: center;
}

/*---------------- Votre projet Button */

.votre-projet-btn{
  position: fixed;
  bottom: 0;
  width: 100vw;
  border: 0;
  background-color: var(--dark-blue);
  color: white;
  font-family: "barlow-regular";
  font-size: 16px;
  height: 65px;
}

/*---------------- Footer */

footer{
  background-color: var(--dark-blue);
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-main-content, .social-medias, .logo-footer{
  margin-bottom: 30px;
}

.newsletter-form{
  width: 100%;
  position: relative;
  height: 55px;
  margin-bottom: 50px;
}

.newsletter-form label{
  position: absolute;
  color: var(--light-grey);
  left: 10px;
  top: 20px
}

.newsletter-form input, .newsletter-form button{
  height: 55px;
  background-color: var(--dark-blue);
  outline: none;
  border-top: 1px solid var(--light-grey);
  border-bottom: 1px solid var(--light-grey);
}

.newsletter-form input{
  width: 90%;
  border-left: 1px solid var(--light-grey);
  border-right: 0;
}

.newsletter-form button{
  width: 10%;
  border-right: 1px solid var(--light-grey);
  border-left: 0;
  color: white;
}

.accordion{
  border: 1px solid var(--light-grey);
  min-height: 65px;
  margin: 10px 0;
}

.accordion ul{
  display: none;
}

.accordion div{
  position: relative;
  height: 65px;
  align-items: center;
  justify-content: center;
}

.accordion > div > svg{
  position: absolute;
  right: 10px;
  top: 12px;
}

ul{
  list-style: none;
  padding: 0;
}