/*--------------- FONTS */

@font-face{
  font-family: "barlow-regular";
  src: url("../fonts/Barlow/BarlowSemiCondensed-Regular.ttf");
}

@font-face{
  font-family: "barlow-medium";
  src: url("../fonts/Barlow/BarlowSemiCondensed-Medium.ttf");
}

@font-face{
  font-family: "quicksand";
  src: url("../fonts/Quicksand/Quicksand-Regular.ttf");
}

/*--------------- GENERAL */
*{
  box-sizing: content-box;
}

body{
  padding: 0;
  margin: 0;
  font-family: "quicksand";
  color: #223440;
}

.flex{
  display: flex;
}

.space-between{
  justify-content: space-between;
}

.flex-column{
  flex-direction: column;
}

.full-height{
  height: 100%;
}

.main-button{
  background-color: #f08077;
  color: white;
  font-family: "barlow-regular";
  width: 200px;
  font-size: 16px;
  margin: auto auto 0;
  padding: 17px;
}

/*--------------- HEADER */

header{
  padding: 10px 20px;
  flex-wrap: wrap;
}

.search-bar{
  width: 100%;
  order: 3;
}

.search-bar label{
  position: absolute;
}

.search-bar input{
  width: 80%;
  height: 32px;
}

.search-bar button{
  width: 20%;
  height: 32px;
}

.header-icones{
  order: 2;
}

.logo{
  margin: 0;
}

.slogan{
  display: none;
}
/*---------------- 1st section - full-hero */

.full-hero{
  background-image: linear-gradient(rgba(0, 0, 0, .5), transparent 70%, rgba(0, 0, 0, .5)), url("../images/keeping-your-teeth-good-condition.jpg");
  background-size: cover;
  background-position-x: 70%;
  height: 60vh;
  padding: 20px;
  text-align: center;
  color: white;
}

h1{
  margin: 0;
  font-family: "barlow-medium";
  font-size: 25px;
}
